/* The main grid */
.body-contact {
    
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 1fr 1fr 150px;
    gap: 2px;
    padding: 0px;
    box-sizing: border-box;

}

.container div {

    border: 1px solid black;

}

.header{
    grid-column-start: 1;
    grid-column-end: 7;
}
.main-box{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: span 2;
    
}
.column-side-right-top{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.column-side-right-bottom{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}